@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }


p, a, li, span, div, input, textarea, select, button, label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}



button, .btn {
    padding: 8px 16px;
    border: 1px solid #F76B2A;
    background-color: #F76B2A;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
}
:is(button, .btn):hover {
    background-color: #cb531b;
    border-color: #cb531b;
}